 <div class="blog-post">
  <span class="user-comment"><%= comment.user.display_name %></span>
  posted <%= comment.time_since_post %> minutes ago.<br>
  <p><%= comment.body %></p>

  <%= link_to fa_icon("plus-square-o"), comment_votes_path(comment, {vote: {is_up: true}}), method: :post %>          
  <%= link_to fa_icon("minus-square-o"), comment_votes_path(comment, {vote: {is_up: true}}), method: :patch %>          
</div>