<div class="background">
  <div class="container main">

    <h1 class="blog-title">Your Favorite Posts</h1>

    <% @posts.each do |post| %>
      <div class="blog-post">
        <%= image_tag post.image.url, class: "post-image" %>
        <h3><%= link_to post.title, post_path(post) %></h3>
        <h4><%= post.body %></h4>
        <p><%= post.user.display_name %></p>
        <span><%= post.created_at %></span>

        <% like = post.likes.find_by_user_id(current_user) if current_user %>

        <% if like %>
          <%= link_to fa_icon("thumbs-up"), post_like_path(post, like), method: :delete, data: {disable_with: "deleting..."} %>
        <% else %>
          <%= link_to fa_icon("thumbs-o-up"), post_likes_path(post), method: :post %>
        <% end %>

        <span> <%= post.likes.count %></span>

        <% favourite = post.favourites.find_by_user_id(current_user) if current_user %>

        <% if favourite %>
          <%= link_to fa_icon("heart"), post_favourite_path(post, favourite), method: :delete %>
        <% else %>
          <%= link_to fa_icon("heart-o"), post_favourites_path(post), method: :post %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
