<% if @post.errors.present? %>
  <ul>
  <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<div class="container">
  <%= form_for @post do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.fields_for :tags, Tag.new do |t| %>
        <%= t.label :name, "Tag Name" %>
        <%= t.text_field :name, class: "form-control", placeholder: "tags, separated, by, commas" %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :image, "Post Image" %>
      <%= f.file_field :image %>
    </div>
    <div class="form-group">
      <%= f.submit "Submit" %>
    </div>
  <% end %>
</div>
