<!DOCTYPE html>
<html>
<head>
  <title>De Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>  

  <div class="container header">
    <div class="blog-title">
      <%= link_to "DE BLOG", root_path %>
    </div>

    <div class="nav-container">
      <div class="nav-item">
        <%= link_to "Home", root_path %>
      </div>
      <div class="nav-item">
        <a href="">Blog</a>
      </div>
      <div class="nav-item">
        <a href="">New Post</a>
      </div>
      <div class="nav-item">
        <%= link_to "About", about_path %>
      </div>
      <div class="nav-item">
        <a href="">Contact</a>
      </div>        
    </div>

    <div>
      <% if user_signed_in? %>
        <span>Welcome <%= current_user.first_name %></span>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log In", new_user_session_path %> |
        <%= link_to "Register", new_user_registration_path %>
      <% end %>
    </div>
    
    <div class="notice"><%= flash[:notice] || flash[:alert] %></div>

  </div>

    
    <!-- <div class="nav-item"><%#= link_to "All Posts", root_path %></div> -->
    <!-- <div class="nav-item"><%#= link_to "Favourites", favourites_path %></div> -->




<%= yield %>

</body>
</html>
